doctype html
html( ng-app="app" )
  head
    title(ng-bind="page_title")!= page_title
    meta(name="descrition",content=page_description)
    meta( property="og:url", itemprop="url", content=full_url )
    meta( property="og:image", itemprop="thumbnailUrl", content=page_image) 
    meta( content="news", itemprop="genre", name="medium")
    meta( content="vi-VN", itemprop="inLanguage")
    meta( content=page_description, itemprop="headline", property="og:title")
    meta( content=page_description, itemprop="keywords", name="keywords")
    
    meta( content=page_title, property="og:site_name")
    meta( content=page_description, itemprop="description", property="og:description")

    link(rel="Shortcut Icon",href="/frontend/images/logo.png",type="image/x-icon")
    script( src="/frontend/js/dependencies.min.js")
    script( src="/share/js/alertifyjs/alertify.min.js")
    script( src="/share/js/audiojs/audio.js")
    script( src="/share/js/underscore-min.js")
    script( src="/share/js/angular-1.2.25/angular.min.js")
    script( src="/share/js/angular-1.2.25/angular-sanitize.min.js")
    script( src="/share/js/angular-1.2.25/angular-route.min.js")
    script( src="/share/js/angular-1.2.25/angular-resource.min.js")
    script( src="/share/js/angular-1.2.25/angular-cookies.min.js")
    script( src="/share/js/angular-1.2.25/angular-animate.min.js")

    script(type='text/javascript').
      var is_debug                  = #{is_debug};
      var asset_version             = #{asset_version};
      var maximum_file_upload       = #{maximum_file_upload};
      var template_version_string   = "v#{template_version}";
      var public_album_id           = "#{public_album_id}"
      $(document).ready(function(){
        window.csrf = $('input[type="hidden"][name="_csrf"]').val();
      })

      if ( public_album_id ){
        location.href = "/#/album/" + public_album_id;
      }

    script(src="/frontend/js/app.js")
    script(src="/frontend/js/libraries/factories.js")
    script(src="/frontend/js/libraries/directives.js")
    script(src="/frontend/js/general.js")
    script(src="/frontend/js/users/user.js")
    script(src="/frontend/js/users/theme.js")
    script(src="/frontend/js/users/login.js")
    script(src="/frontend/js/users/logout.js")
    script(src="/frontend/js/users/register.js")
    script(src="/frontend/js/users/setting.js")
    script(src="/frontend/js/users/forgot.js")

    script(src="/frontend/js/album/album.js")
    script(src="/frontend/js/player/player.js")
    script(src="/frontend/js/song/song.js")
    script(src="/frontend/js/navigation/navigation.js")
    script(src="/frontend/js/header/header.js")

    link(rel="stylesheet", href="/frontend/css/bootstrap.min.css")
    //- link(rel="stylesheet", href="frontend/bootflat/css/bootflat.css")
    link(rel="stylesheet", href="/frontend/css/alertify/alertify.min.css")
    link(rel="stylesheet", href="/frontend/css/alertify/themes/default.min.css")
    link(rel="stylesheet", href="/frontend/css/font-awesome-4.2.0/css/font-awesome.css")
    link(rel="stylesheet", href="/share/css/jquery.tagsinput.css")
    link(rel="stylesheet", href="/frontend/css/style.css")

  body(ng-style="body_style",ng-class="body_class")
    block content
  